body {
  width: 80%;
  max-width: 900px;
  margin: 25px 50px 25px 170px;
  background: #2193b0;
}

#form {
  margin: 25% 25% 25% 30%;
}
.form-control {
  border-radius: 5px;
}

.btn {
  background-color: #2193b0
  border: black;
  padding: 2%;
  border-radius: 5px;
}
